<!DOCTYPE html>
<head>
<title>Todo App</title>
<!--STYLESHEET LINK-->
<link rel="stylesheet" href="css/style.css">
<!--GOOGLE FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
<!--ICONS-->
<script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/groupHome"><i class="fa-solid fa-house"></i></a></li>
            <li id="userDropDown"><a href="#"><i class="fa-solid fa-user"></i><i class="fa-solid fa-angle-down"></i></a>
                <ul id="dropDownMenu">
                    <li><a href="/logout">Sign out</a></li>
                    <li><a href="/home">Group Logout</a></li>
                </ul>
            </li>
            <h1>GROUP  </h1>
        </ul>
    </nav>
    <section class="homeMenu">
        <a href="/groupRecipes"><button class="homeButton">Group Recipes</button></a>
        <a href="/addGroupRecipe"><button class="homeButton">Create New Recipe</button></a>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>