<!DOCTYPE html>
<head>
<title>Todo App</title>
<!--STYLESHEET LINK-->
<link rel="stylesheet" href="css/style.css">
<!--GOOGLE FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
<!--ICONS-->
<script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home"><i class="fa-solid fa-house"></i></a></li>
            <li id="userDropDown"><a href="#"><i class="fa-solid fa-user"></i><i class="fa-solid fa-angle-down"></i></a>
                <ul id="dropDownMenu">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/group">Group Login</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <section class="loginBody">
        <form class="loginForm" action="/groupLogin" method="POST">
            <input type="text" name="username" placeholder="Group ID#">
            <input type="password" name="password" placeholder="Password">
            <input class="submitButton" type="submit">
        </form>
    </section>
    <script src="/js/main.js"></script>  
</body>
</html>