<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="css/style.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
    <title>Kitchen Keeper</title>
</head>
<body>
    <nav class="homeNav">
        <ul>
            <li class="userNameDisplay"> Hello, <%= user.userName %> </li>
            <li>
                <a title="logout" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                <span>logout</span>
            </li>
        </ul>
    </nav>
    <div>
        <span class="userNameMobileDisplay"> Hello, <%= user.userName %>! </span>
    </div>
    <section class="homeMenu">
        <a href="/myRecipes"><button class="homeButton"><i class="fa-solid fa-utensils"></i> My Recipes</button></a>
        <a href="/addRecipe"><button class="homeButton">New Recipe</button></a>
        <a href="/myPantry"><button class="homeButton"><i class="fa-solid fa-jar"></i> My Pantry</button></a>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>