<!DOCTYPE html>
<head>
<title>Todo App</title>
<!--STYLESHEET LINK-->
<link rel="stylesheet" href="css/style.css">
<!--GOOGLE FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
<!--ICONS-->
<script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home"><i class="fa-solid fa-house"></i></a></li>
            <a class="logoutIcon"href="/logout">Logout</a>
        </ul>
    </nav>
    <section class="homeMenu">
        <a href="/myRecipes"><button class="homeButton">My Recipes</button></a>
        <a href="/addRecipe"><button class="homeButton">Create New Recipe</button></a>
    </section>
</body>
</html>