<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="css/style.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
    <title>Kitchen Keeper</title>
</head>
<body>
    <main class="container">
        <section class="containerSections">
            <div>
                <h1>Kitchen Keeper</h1>
            </div>
            <div>
                <a href="/login"> Login</a>
                <a href="/signup"> Sign Up</a>
            </div>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>