<!DOCTYPE html>
<html lang="en">
<head>
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <section class="containerSections">
            <div>
                <h1>Kitchen Staff</h1>
            </div>
            <div>
                <a href="/login"> Login</a>
                <a href="/signup"> Signup</a>
            </div>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>